:root {

    --font--family: 'Segoe UI', sans-serif;

    --color--border: #CCCCCC;
    --color--bar: #0A516D;
    --color--bar--text: #FFFFFF;
    --color--text: #49454F;
    --color--background: #FFFFFF;
    --color--background--overlay: rgba(0, 0, 0, 0.4);
    --color--background--menu--lateral: #f8f8f8;
    --color--background--botao: #0F6E94;
    --color--background--botao--hover: #1482B0;
    --color--background--botao--disabled: #9E9E9E;
    --color--menu_hover: rgba(100, 100, 100, 0.1);

    --font--size--bar: 18px;
    --font--size: 14px;
    --font--weight: 400;
    --font--letter--spacing: 0.5px;

    --border--radius--component: 5px;
    --border--radius--toast: 40px;

    --icon-home: url('/img/home_24dp_49454F.png');
    --icon-config: url('/img/settings_24dp_49454F.png');
    --icon-tema: url('/img/bedtime_24dp_49454F.png');
}

.dark-mode {
    /* add after */
    --color--border: #CCCCCC;
    --color--bar: #0A516D;
    --color--bar--text: #FFFFFF;
    --color--text: #CAC4D0;
    --color--background: #141118;
    --color--background--overlay: rgba(0, 0, 0, 0.4);
    --color--background--menu--lateral: #1D1B20;
    --color--background--botao: #0F6E94;
    --color--background--botao--hover: #1482B0;
    --color--background--botao--disabled: #9E9E9E;
    --color--menu_hover: rgba(100, 100, 100, 0.4);

    --font--size--bar: 18px;
    --font--size: 14px;

    --border--radius--component: 5px;
    --border--radius--toast: 40px;

    --icon-home: url('/img/home_24dp_CAC4D0.png');
    --icon-config: url('/img/settings_24dp_CAC4D0.png');
    --icon-tema: url('/img/sunny_24dp_CAC4D0.png');
}