:root {

    --font--family: 'Segoe UI', sans-serif;

    --color--border: #CCCCCC;
    --color--bar: #0A516D;
    --color--bar--text: #FFFFFF;
    --color--text: #423D44;
    --color--background: #FFFFFF;
    --color--background--toast: #f8f8f8;
    --color--background--overlay: rgba(0, 0, 0, 0.4);
    --color--background--menu--lateral: #f8f8f8;
    --color--background--botao: #0F6E94;
    --color--background--botao--hover: #1482B0;
    --color--background--popup--hover: #f5f5f5;
    --color--background--botao--disabled: #9E9E9E;
    --color--menu_hover: rgba(100, 100, 100, 0.1);
    --box--shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    --box--shadow-popup: 0 -2px 10px rgba(0, 0, 0, 0.2);

    --font--size--bar: 18px;
    --font--size--legenda: 14px;
    --font--size: 16px;
    --font--size--versao: 10px;
    --font--weight: 400;
    --font--weight--bold: 600;
    --font--letter--spacing: 0.5px;

    --border--radius--component: 5px;
    --border--radius--toast: 40px;

    --icon-home: url('/img/home_24dp_49454F.png');
    --icon-config: url('/img/settings_24dp_49454F.png');
    --icon-tema: url('/img/bedtime_24dp_49454F.png');
    --icon-alert: url('/img/error_outline_72dp_49454F.png');
    --icon-add-user: url('/img/person_add_24dp_49454F.png');
    --icon-tables: url('/img/table_restaurant_24dp_49454F.png');
    --icon-food: url('/img/fastfood_24dp_49454F.png');
    --icon-adm: url('/img/manage_accounts_24dp_49454F.png');
    --icon-camera: url('/img/camera_alt_24dp_49454F.png');
    --icon-galery: url('/img/image_24dp_49454F.png');
}

.dark-mode {

    --font--family: 'Segoe UI', sans-serif;

    --color--border: #CCCCCC;
    --color--bar: #0A516D;
    --color--bar--text: #FFFFFF;
    --color--text: #CAC4D0;
    --color--background: #141118;
    --color--background--toast: #2E3133;
    --color--background--overlay: rgba(0, 0, 0, 0.4);
    --color--background--menu--lateral: #1D1B20;
    --color--background--botao: #0F6E94;
    --color--background--botao--hover: #1482B0;
    --color--background--popup--hover: #3a3838;
    --color--background--botao--disabled: #9E9E9E;
    --color--menu_hover: rgba(100, 100, 100, 0.4);
    --box--shadow: 0 4px 12px rgba(255, 255, 255, 0.15);
    --box--shadow-popup: 0 -2px 10px rgba(255, 255, 255, 0.2);

    --font--size--bar: 18px;
    --font--size--legenda: 14px;
    --font--size: 16px;
    --font--size--versao: 10px;
    --font--weight: 400;
    --font--weight--bold: 600;
    --font--letter--spacing: 0.5px;

    --border--radius--component: 5px;
    --border--radius--toast: 40px;

    --icon-home: url('/img/home_24dp_CAC4D0.png');
    --icon-config: url('/img/settings_24dp_CAC4D0.png');
    --icon-tema: url('/img/sunny_24dp_CAC4D0.png');
    --icon-alert: url('/img/error_outline_72dp_CAC4D0.png');
    --icon-add-user: url('/img/person_add_24dp_CAC4D0.png');
    --icon-tables: url('/img/table_restaurant_24dp_CAC4D0.png');
    --icon-food: url('/img/fastfood_24dp_CAC4D0.png');
    --icon-adm: url('/img/manage_accounts_24dp_CAC4D0.png');
    --icon-camera: url('/img/camera_alt_24dp_CAC4D0.png');
    --icon-galery: url('/img/image_24dp_CAC4D0.png');
}