.popup-menu {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: var(--color--background);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    box-shadow: var(--box--shadow-popup);

    transform: translateY(100%);
    transition: transform 0.3s ease;

    z-index: 1000;
}

.popup-menu.show {
    transform: translateY(0);
}

.popup-item {
    padding: 26px 26px;
    text-align: left;
    font-size: var(--font--size);
    color: var(--color--text);
    cursor: pointer;
}

.popup-item:hover {
    background: var(--color--background--popup--hover);
}

.popup-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    display: none;
    z-index: 999;
}

.container-avatar {
    display: flex;
    justify-content: left;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

#preview {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    object-fit: cover;
    /* object-position: center 30%; */
    border: 1px solid var(--color--border);
}

.password-container {
    position: relative;
}

.toggle-password {
    display: block;
    position: absolute;
    width: 24px;
    height: 24px;
    right: 10px;
    top: 46%;
    transform: translateY(-50%);
    cursor: pointer;
    user-select: none;
}

input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
    display: none;
}


/* DIALOG */
.crop-dialog {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.7);

    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0;
    visibility: hidden;

    transition: opacity 0.2s;
    z-index: 9999;
}

.crop-dialog.show {
    opacity: 1;
    visibility: visible;
}

.crop-container {
    width: 400px;

    display: flex;
    flex-direction: column;
}

.crop-container img {
    max-width: 100%;
    display: block;
}

#btn-cancelar-crop {
    background: none;
    border: none;
    background: rgba(255, 255, 255, 0.25);
    border-radius: 50%;
    cursor: pointer;
    padding: 10px;
    margin-left: 10px;
}

#btn-cancelar-crop img {
    width: 24px;
    height: 24px;
}

#btn-cortar {
    background: none;
    border: none;
    background: rgba(255, 255, 255, 0.25);
    border-radius: 50%;
    cursor: pointer;
    padding: 10px;
    margin-right: 10px;
}

#btn-cortar img {
    width: 24px;
    height: 24px;
}

.crop-actions {
    position: absolute;

    width: 400px;

    top: 5%;
    /* left: 0;
    right: 0; */

    display: flex;
    justify-content: space-between;

    padding: 0;

    z-index: 10;
}

/* DIALOG */



.popup-menu::before {
    content: "";
    width: 40px;
    height: 4px;
    background: #ccc;
    display: block;
    margin: 10px auto;
    border-radius: 4px;
}


.menu-camera::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 18px;
    height: 18px;
    margin-right: 8px;
    padding-bottom: 4px;
    background-image: var(--icon-camera);
    background-size: contain;
    background-repeat: no-repeat;
    transition: all 2s ease;
}

.menu-galery::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 18px;
    height: 18px;
    margin-right: 8px;
    padding-bottom: 4px;
    background-image: var(--icon-galery);
    background-size: contain;
    background-repeat: no-repeat;
    transition: all 2s ease;
}

.menu-visibility::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 18px;
    height: 18px;
    margin-right: 8px;
    padding-bottom: 4px;
    background-image: var(--icon-visibility);
    background-size: contain;
    background-repeat: no-repeat;
    transition: all 2s ease;
}

/* media queries */

/* Telas grandes - desktop (769px em diante)*/
@media (min-width: 769px) {}


/* Telas médias - tablet (481px a 768px)  */
@media (min-width: 481px) and (max-width: 768px) {}


/* Telas pequenas - celular (até 480px)  */
@media (max-width: 480px) {
    .container-avatar {
        justify-content: center;
    }

    .crop-dialog {
        background: #000;
    }

    .crop-actions {
        /* width: 340px;
        top: 25px; */
    }

    .toggle-password {
        display: block;
    }
}